<div class="carousel-component">
  <h4>Discover Your National Parks!</h4>
  <ngb-carousel *ngIf="images" 
    (slide)="onSlide($event)"
  >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt={{altText[0]}}>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt={{altText[1]}}>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt={{altText[2]}}>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[3]" alt={{altText[3]}}>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[4]" alt={{altText[4]}}>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[5]" alt={{altText[5]}}>
      </div>
    </ng-template>
  </ngb-carousel>
</div>