<div class="container">
  <div class="content">
    <h3>Welcome to goWILD!</h3>
    <div class="img-div">    
      <img src="https://res.cloudinary.com/decffa3wj/image/upload/v1615350739/85876CC9-31C8-4381-A220-5CE60872753F_mwzhqz.jpg">
    </div>
    <p><span>goWILD</span> is the capstone project of Gary's General Assembly Software Engineering Immersive Program, a 12 week course to learn the basics of full-stack web development.</p>
    <p>This site was built in Angular 11.2.4 with a Ruby On Rails custom-built API modeled off of the National Park Service API through the Department Of The Interior.</p>
    <p>Most of the images seen on this page are gathered through the NPS API, however some have been added to the API thanks to the talents of the photographers of Unsplash.com. </p>
    <p>A very special thanks goes out to Kenny Cruz, Alex Merced, and Joe Keohan of General Assembly. Without their instruction and expertise, <span>goWILD</span> would not have been possible.</p>
    <p class="last">If you like what you see here, please reach out to Gary via the links below...</p>
  </div>
  <div class="contact">
    <a href="https://docs.google.com/document/d/1bPYce5dfWj5F_gWr1oUAH3zQufldsALexJk5lAceF3E/edit?usp=sharing"><fa-icon [icon]="faFile"></fa-icon></a>
    <a href="https://www.linkedin.com/in/gary-barkauski/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
    <a href="https://github.com/gbarka2"><fa-icon [icon]="faGithubSquare"></fa-icon></a>
    <a href="https://gbarka2.github.io/"><fa-icon [icon]="faDesktop"></fa-icon></a> 
  </div>
</div>