<div class="text-container">
  <p>Like What You See?</p>
  <p>Get In Touch With Gary!</p>
</div>
<ul>
  <a href="https://docs.google.com/document/d/1bPYce5dfWj5F_gWr1oUAH3zQufldsALexJk5lAceF3E/edit?usp=sharing"><fa-icon [icon]="faFile"></fa-icon></a>
  <a href="https://www.linkedin.com/in/gary-barkauski/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
  <a href="https://github.com/gbarka2"><fa-icon [icon]="faGithubSquare"></fa-icon></a>
  <a href="https://gbarka2.github.io/"><fa-icon [icon]="faDesktop"></fa-icon></a> 
</ul>
