div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 25px;
  margin-right: 10px;
}
a {
  color: white;
}

p {
  margin: 0;
}

.text-container {
  margin: 10px 10px 0 0;
}