div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Poppins', cursive;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 25px;
  margin-right: 10px;
}
a {
  color: white;
}

p {
  margin: 0;
}

.text-container {
  margin: 10px 10px 0 0;
}

@media screen and (min-width: 1440px) {

  div {
    font-size: 24px;
    margin-right: 20px;
  }
}