nav {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

h1 {
  background: rgb(241,241,241);
  background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(208,219,151,1) 100%);
  color: #181D27;
  padding: 10px;
  margin: 0;
  font-family: 'Courgette', cursive;
  width: 100%;
}

fa-icon {
  font-size: 24px;
}

@media screen and (min-width: 1440px) {

  h1 {
    font-size: 76px;
  }

  fa-icon {
    font-size: 45px;
  }
  
}

