nav {
  border: 1px solid green;
  width: 425px;
}

html {
  height: 100%;
  width: 320px;
}

h1 {
  background: rgb(241,241,241);
  background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(208,219,151,1) 100%);
  color: #181D27;
  padding: 10px;
  margin: 0;
}
