ngb-carousel { 
  border: 1px solid black;
  height: 200px;
  background-color: #d0db97;
}

img { 
  height: 200px;
  align-items: center;
}

.picsum-img-wrapper {
  display: flex;
  justify-content: center;
}