div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}
img {
  height: 100px;
  width: 70%;
  margin: 10px;
  border: 1px solid #3a7d44;
  border-radius: 20px;
}


.article-container {
  height: 100%;
  width: 100vw;
  display: flex;
  margin: 25px 0 0 0;
  padding-bottom: 25px;
  flex-direction: column;
}

h5 {
  margin: 0 15px 15px 15px;

}

span {
  font-family: 'Courgette', cursive;
}

.article {
  border: 2px solid #3a7d44;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
  width: 70%;
}

p {
  margin: 0 10px 10px 10px;
}

a {
  color: #eaf5b2;
  margin-bottom: 10px;
  background-color: #3a7d44;
  padding: 5px;
  border: 2px solid #181d27;
  border-radius: 10px;
}