div {
  border: 3px solid red;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px
}
img {
  height: 100px;
  width: 200px;
  margin: 10px;
  border: 1px solid black
}

p, h5 {
  padding: 4px;
}

.article-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}


/* id: "5CE3F32C-ECD6-47C6-AC99-E058EF92124D"
latLong: ""
latitude: null
listingDescription: "The Disability History series brings attention to some of the many disability stories interwoven across the National Park Service’s 400+ units and its programs. “Disability stories” refer to the array of experiences by, from, and about people with disabilities represented across our nation. People with disabilities are the largest minority in the United States, but their stories often remain untold."
listingImage: {url: "", credit: "", altText: "", title: "", description: "", …}
longitude: null
relatedParks: []
title: "Article Series"
url: "https://www.nps.gov/articles/series.htm" */