<ngb-accordion
#myaccordion="ngbAccordion" 
type="'success'"
>

	<ngb-panel title="Address Information" id="panelOne">
		<ng-template ngbPanelContent >
      <div *ngFor="let address of park.addresses">
        <p class="address">{{address.line1}}</p>
        <p class="address">{{address.line2}}</p>
        <p class="address last">{{address.city}}, {{address.state}} {{address.zipcode}}</p>
        <p><span>Coordinates: </span><br>{{park.lat_long}}</p>
      </div>
		</ng-template>
	</ngb-panel>

	<ngb-panel title="Entrance Fee Information" id="panelTwo">
		<ng-template ngbPanelContent>
      <div *ngFor="let fee of park.fees">
        <p class="fee-title">{{fee.title}} - ${{fee.cost}}</p>
        <p>{{fee.description}}</p>  
				<hr>
      </div>
		</ng-template>
	</ngb-panel>

  <ngb-panel title="Directions" id="panelThree">
		<ng-template ngbPanelContent>
      <p>{{park.directions}}</p>
		</ng-template>
	</ngb-panel>

  <ngb-panel title="Weather Information" id="panelFour">
		<ng-template ngbPanelContent>
      <p>{{park.weather}}</p>
		</ng-template>
	</ngb-panel>
  
	<ngb-panel title="Contact Information" id="panelFive">
		<ng-template ngbPanelContent>
      <p><span>Phone: </span>{{park.phone}}</p>
      <p><span>Email: </span>{{park.email}}</p>
		</ng-template>
	</ngb-panel>

</ngb-accordion>
